<div class="banners-container" fxLayout="column" fxLayout.gt-sm="row">
    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="50">
        <div class="banner" fxFlex="100" fxFlex.gt-sm="100">
            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                width: '100%',
                height: '96%',
                'border-radius': '5px'
              }">
            </ngx-skeleton-loader> 
        </div>
    </div>
    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="50">
        <div fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">
            <div class="banner" fxFlex>
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                    width: '100%',
                    height: '175px',
                    'border-radius': '5px'
                  }">
                </ngx-skeleton-loader>
            </div>
            <div class="banner" fxFlex>
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                    width: '100%',
                    height: '175px',
                    'border-radius': '5px'
                  }">
                </ngx-skeleton-loader> 
            </div>
        </div>
        <div fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">
            <div class="banner" fxFlex>
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                    width: '100%',
                    height: '175px',
                    'border-radius': '5px'
                  }">
                </ngx-skeleton-loader>
            </div>
            <div class="banner" fxFlex>
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                    width: '100%',
                    height: '175px',
                    'border-radius': '5px'
                  }">
                </ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>