.has-chat-updates {
    position: absolute;
    top: -3px;
    right: 10px;
    background: #f44336;
    height: 18px !important;
    width: 18px !important;
    line-height: 18px !important;
    border-radius: 50%;
    font-size: 11px !important;
}