<div id="strength" #strength>   
    <ul id="strengthBar">  
        <li class="point" [style.background-color]="bar0"></li>
        <li class="point" [style.background-color]="bar1"></li>
        <li class="point" [style.background-color]="bar2"></li>
        <li class="point" [style.background-color]="bar3"></li>
        <li class="point" [style.background-color]="bar4"></li>  
    </ul>
    <ul id="strengthInfo"> 
        <li>
            <mat-icon class="mat-icon-sm" matSuffix>{{ lower ? 'done' : 'error'}}</mat-icon> 
            <span>{{ 'user.password-criteria.lower' | translate }}</span> 
        </li>
        <li>
            <mat-icon class="mat-icon-sm" matSuffix>{{ upper ? 'done' : 'error'}}</mat-icon> 
            <span>{{ 'user.password-criteria.upper' | translate }}</span> 
        </li>
        <li>
            <mat-icon class="mat-icon-sm" matSuffix>{{ digits ? 'done' : 'error'}}</mat-icon> 
            <span>{{ 'user.password-criteria.digits' | translate }}</span> 
        </li>
        <li>
            <mat-icon class="mat-icon-sm" matSuffix>{{ nonWords ? 'done' : 'error'}}</mat-icon> 
            <span>{{ 'user.password-criteria.nonWords' | translate }}</span> 
        </li> 
        <li>
            <mat-icon class="mat-icon-sm" matSuffix>{{ length ? 'done' : 'error'}}</mat-icon> 
            <span>{{ 'user.password-criteria.length' | translate }}</span> 
        </li>
    </ul>  
</div>  